<!DOCTYPE html>
<html lang='pt-BR'>
<head>
 <title>Projeto Integrador Grupo 109</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<style>

h1, h2 {color:#131313}

.btn-default
{
  background-color: #131313;
  color:#FFF;
  border-color: #131313;
  border-width: 2px
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {

  background-color: #FFFFFF;
  color:#131313;
  border-color: #131313;
  font-weight: bold
 }

.link { color: #000000 } /* CSS link color (red) */
.link:hover { font-weight: bold; color: #000000 } /* CSS link hover (red) */
</style>
</head>

<body >
<h1 >Projeto integrador</h1>
<h2 >Grupo 109</h2>
{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>